API_ID="12345"
API_HASH="replace-me"
BALE_BOT_TOKEN="replace-me"
BALE_CHAT_ID="replace-me"
SOURCE_CHANNELS="@channel_one,@channel_two"
TG2BALE_DATA_DIR="./data"
TG2BALE_REQUEST_TIMEOUT=120
TG2BALE_MAX_RETRIES=3
TG2BALE_RETRY_BASE_SECONDS=1
TG2BALE_WORKERS=1
TG2BALE_QUEUE_SIZE=100
TG2BALE_TEXT_LIMIT=4096
TG2BALE_LOG_LEVEL=INFO
